body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,9,1) 22%, rgba(0,0,0,1) 100%);
}

#quote {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    color: white;
}

#author {
    color: white;
    text-align: center;
}

#authorImg {
    display: block;
    margin: 0 auto;
}
